name: Deploy Dist folder
#on: [push, workflow_dispatch]
on:
  push: 
    branches: 
     - main
     - 'feature/**'
    paths-ignore:
     - README.md
     - '.github/workflows/*'
  workflow_dispatch:
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
          - name: Clone the repo
            uses: actions/checkout@v5
            # run: |
            #   echo "Cloning repo ${{ github.repository }}"
            #   echo "${{toJson(github)}}"
            #   git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git myfiles
            #   cd myfiles
            #   ls -la
          - name: Setup node and install dependencies
            uses: ./.github/actions/setupnode
            with: 
              node-version: 20
          - name: Run Tests
            run: npm run test
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
          - name: Get Code
            uses: actions/checkout@v5
          - name: Setup node and install dependencies
            uses: ./.github/actions/setupnode
          - name: Build Application
            run: npm run build
          - name: Upload dist artifact
            uses: actions/upload-artifact@v4
            with:
              name: dist-files
              path: dist
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
          - name: Download dist artifact
            uses: actions/download-artifact@v4
            with:
              name: dist-files
              path: dist
          - name: Deploy Dist
            run: | 
                echo "Deploying below files"
                ls dist
                echo "Deployment completed"